{erl_opts, [
    debug_info,
    warn_untyped_records
   ]
}.

{deps, []}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.
{edoc_opts, [{preprocess, true}]}.
{xref_checks, [undefined_function_calls]}.

{project_plugins, [rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.
{ex_doc, [
    {source_url, <<"https://github.com/erlangpack/sidejob">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, warn_untyped_records]},
        {xref_checks, [
            undefined_function_calls,
            locals_not_used,
            deprecated_function_calls
        ]},

        {xref_ignores, [
        ]},

        {dialyzer, [
          {warnings, [
              no_return
          ]},
          {plt_extra_apps, [
              eunit
          ]}
        ]}
    ]}
]}.
