{erl_opts, [debug_info, warn_untyped_records]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
{edoc_opts, [{preprocess, true}]}.
{xref_checks, [undefined_function_calls]}.
{deps, []}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, warn_untyped_records]},
        {xref_checks, [
            undefined_function_calls,
            locals_not_used,
            deprecated_function_calls
        ]},

        {xref_ignores, [
        ]},

        {dialyzer, [
          {warnings, [
              no_return
          ]}
        ]}
    ]}
]}.
